<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active nav-link">{{#link-to 'tasks'}}Home{{/link-to}}</li>
            <li class="nav-item active nav-link">{{#link-to 'tasks.new'}}New Task{{/link-to}}</li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
          {{outlet}}
            <!--outlet renderuje templaty w odpowiednim miejscu -->
        </div>
    </div>
</div>
